*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(232, 233, 240);
}

nav .logo img{
height: 100px;
width: 115px;
position: sticky;

/* padding: 7px; */
}
nav{
    box-shadow: 5px 2px 5px black;
    margin-bottom: 23px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* this is hero section  */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero .hero-img img{
height: 300px;
width: 300px;
border-radius: 10px;
}
.hero-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  .tag{
 background-color: rgba(18, 222, 151, 0.747);
 color: aliceblue;
 align-self: flex-start;
  padding: 3px;
}
.hero-cont h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 200;
    text-transform: uppercase;
}

.hero-cont button{
    padding: 18px 15px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    background-color: orange;
    align-self: flex-start;
}
.hero-cont button:hover{
    opacity: 0.8s;
    transition:0.2s ease-in-out;
}

.divider{
    margin-top: 40px;
    border: 2px solid gold;
    padding: 12px;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .tag{
    align-self: center;
    font-weight: 700;
}

.grid img{
  object-fit: cover;
  object-position: center;
  height:300px;
  width: 90%;
}
  .grid{
    display: grid;
    gap: 3px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
footer{
  background-color: rgb(202, 227, 252);
  margin-top: 16px;
}
.foot-container{
  display: flex;
  justify-content: space-evenly;
}
.foot-container a{
  color: black;
  text-decoration: none;
}
.foot-left input{
  margin-top:8px;
  margin-bottom: 8px;
}
.social img{
  padding: 12px;
}















@media (max-width:789px) {
  .hero{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-cont{
    padding-left: 5px;
  }
.hero-cont button{
align-self: center;
}
.grid{
    grid-template-columns: 1fr;
    grid-template-rows: none;
 
  
}
.grid img{
    object-fit: cover;
    object-position: center;
    height:200px;
    width: 100%;
  }
  .foot-container{
    flex-direction: column;
   
  }

}
